In [2]:
import os
import pandas as pd 
import numpy as np
import csv

In [3]:
cc=pd.read_csv("CC General.csv")

In [4]:
cc.head(10)

,CUST_ID,BALANCE,BALANCE_FREQUENCY,PURCHASES,ONEOFF_PURCHASES,INSTALLMENTS_PURCHASES,CASH_ADVANCE,PURCHASES_FREQUENCY,ONEOFF_PURCHASES_FREQUENCY,PURCHASES_INSTALLMENTS_FREQUENCY,CASH_ADVANCE_FREQUENCY,CASH_ADVANCE_TRX,PURCHASES_TRX,CREDIT_LIMIT,PAYMENTS,MINIMUM_PAYMENTS,PRC_FULL_PAYMENT,TENURE
0,C10001,40.900749,0.818182,95.40,0.00,95.40,0.000000,0.166667,0.000000,0.083333,0.000000,0,2,1000.0,201.802084,139.509787,0.000000,12
1,C10002,3202.467416,0.909091,0.00,0.00,0.00,6442.945483,0.000000,0.000000,0.000000,0.250000,4,0,7000.0,4103.032597,1072.340217,0.222222,12
2,C10003,2495.148862,1.000000,773.17,773.17,0.00,0.000000,1.000000,1.000000,0.000000,0.000000,0,12,7500.0,622.066742,627.284787,0.000000,12
3,C10004,1666.670542,0.636364,1499.00,1499.00,0.00,205.788017,0.083333,0.083333,0.000000,0.083333,1,1,7500.0,0.000000,NaN,0.000000,12
4,C10005,817.714335,1.000000,16.00,16.00,0.00,0.000000,0.083333,0.083333,0.000000,0.000000,0,1,1200.0,678.334763,244.791237,0.000000,12
5,C10006,1809.828751,1.000000,1333.28,0.00,1333.28,0.000000,0.666667,0.000000,0.583333,0.000000,0,8,1800.0,1400.057770,2407.246035,0.000000,12
6,C10007,627.260806,1.000000,7091.01,6402.63,688.38,0.000000,1.000000,1.000000,1.000000,0.000000,0,64,13500.0,6354.314328,198.065894,1.000000,12
7,C10008,1823.652743,1.000000,436.20,0.00,436.20,0.000000,1.000000,0.000000,1.000000,0.000000,0,12,2300.0,679.065082,532.033990,0.000000,12
8,C10009,1014.926473,1.000000,861.49,661.49,200.00,0.000000,0.333333,0.083333,0.250000,0.000000,0,5,7000.0,688.278568,311.963409,0.000000,12
9,C10010,152.225975,0.545455,1281.60,1281.60,0.00,0.000000,0.166667,0.166667,0.000000,0.000000,0,3,11000.0,1164.770591,100.302262,0.000000,12

In [5]:
cc['PURCHASES'].mean()/12

83.60040279329637

In [10]:
cc['CASH_ADVANCE'].mean()

978.8711124654749

In [9]:
cc['PURCHASES_TRX'].mean()

14.709832402234637

In [6]:
cc['CASH_ADVANCE_TRX'].mean()

3.2488268156424582

In [6]:
pip install bs4

Collecting bs4
  Downloading bs4-0.0.1.tar.gz (1.1 kB)
Requirement already satisfied: beautifulsoup4 in c:\users\lenovo\anaconda3\lib\site-packages (from bs4) (4.9.1)
Requirement already satisfied: soupsieve>1.2 in c:\users\lenovo\anaconda3\lib\site-packages (from beautifulsoup4->bs4) (2.0.1)
Building wheels for collected packages: bs4
  Building wheel for bs4 (setup.py): started
  Building wheel for bs4 (setup.py): finished with status 'done'
  Created wheel for bs4: filename=bs4-0.0.1-py3-none-any.whl size=1273 sha256=ffdce56fafc7b4d9a4da7878205f300f936cfa539a83c14331c5f0f122419f6b
  Stored in directory: c:\users\lenovo\appdata\local\pip\cache\wheels\75\78\21\68b124549c9bdc94f822c02fb9aa3578a669843f9767776bca
Successfully built bs4
Installing collected packages: bs4
Successfully installed bs4-0.0.1
Note: you may need to restart the kernel to use updated packages.

In [7]:
import sys
import os
from bs4 import BeautifulSoup
import tkinter.filedialog
filepath = tkinter.filedialog.askopenfilename()
with open(filepath) as fp:
    soup = BeautifulSoup(fp, "html.parser")
links = soup.find_all('a')
for tag in links:
    link = tag.get('href',None)
    if (link is not None) and ("http" in link) :
        print(link)

https://cgu-odisha.ac.in/
http://www.edusols.com/

In [1]:
import sys
import os
from bs4 import BeautifulSoup
import tkinter as tk
from tkinter import filedialog

root = tk.Tk()
filename = tk.filedialog.askopenfilename(
    title='Select an HTML file...'
)
root.destroy()
with open(filename) as fp:
    soup = BeautifulSoup(fp, "html.parser")
links = soup.find_all('a')

for tag in links:
    link = tag.get('href',None)
    if (link is not None) and ("http" in link) :
        print(link)

https://cgu-odisha.ac.in/
http://www.edusols.com/